#converter_main{
    position: absolute;
    height: 25%;
    width: 40%;
    top: 30%;
    left: 30%;
}

#from_div{
    position: absolute;
    height: 40%;
    width: 100%;
}

#to_div{
    position: absolute;
    height: 40%;
    width: 100%;
    top: 60%;
}

.fit_input{
    position: absolute;
    height: 90%;
    width: 77%;
    font-size: xx-large;
}

.fit_select{
    position: absolute;
    height: 90%;
    width: 20%;
    left: 80%;
}

#add_notification_div{
    position: absolute;
    height: 10%;
    top: 70%;
    left: 75%;
    border-radius: 50%;
}

#add_notification_btn{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 2px solid black;
}

#add_notification_div:hover{
    box-shadow: 0px 0px 20px rgb(95, 95, 95);
}

#notification_popup{
    position: absolute;
    height: 40%;
    width: 35%;
    top: 23%;
    left: 30.5%;
    background: white;
    padding: 2%;
    border: 1px solid black;
    box-shadow: 10px 10px 10px black;
}

#rate_alert_heading{
    position: relative;
    text-align: center;
    top: 0%;
    margin-top: 0%;
}

.add_margin{
    margin: 2%;
}

#rate_alert_submit{
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    height: 2%;
}

#rate_alert_submit:hover{
    box-shadow: 0px 0px 10px grey;
}